<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">
        <h5 th:text="'AGENDA: ' + ${agenda.mes}+'/'+${agenda.ano}"></h5>
        <div class="text-center">
            <div class="row justify-content-center">
              <div class="col">Segunda</div>
              <div class="col">Terça</div>
              <div class="col">Quarta</div>
              <div class="col">Quinta</div>
              <div class="col">Sexta</div>
              <div class="col">Sábado</div>
              <div class="col">Domingo</div>
            </div>
            <div class="row justify-content-center" th:each="semana : ${agenda.listaSemanas}">
              <div class="col" 
                  th:each="dia : ${semana.listaDias}">
                  <div th:if="${dia.dia != 0}">
                    <span th:text="${dia.dia}"></span>
                    <p th:each="agendamento : ${dia.listaAgendamentos}">
                      <span th:text="${agendamento.descricao}"></span>
                    </p>
                  </div>
              </div>
            </div>
        </div>
    </main>
    <div th:include="layout :: footer">(footer)</div>
  </body>
</html>
