<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <main class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <h1>Cliente</h1>
            <form th:action="@{/clientes}"
                method="post"
                th:object="${cliente}">

                <input type="hidden" th:field="*{id}" >

                <div class="form-group">
                    <label for="txtnome">Nome</label>
                    <input type="text" th:field="*{nome}" 
                        class="form-control"
                        id="txtnome">
                </div>
                <div class="form-group">
                    <label for="txtendereco">Endereço</label>
                    <input type="text" th:field="*{endereco}" 
                        class="form-control"
                        id="txtendereco">
                </div>
                <div class="form-group">
                    <label for="txtdatanascimento">Data Nascimento</label>
                    <input type="date" th:field="*{dataNascimento}" 
                        class="form-control"
                        id="txtdatanascimento">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary"
                        type="submit">Enviar</button>
                </div>

            </form>
        </main>

        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>